<div class="sidebar">
  <div class="container sidebar-sticky-top">
    


    <ul class="sidebar-nav">
      <li class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}">
        <a href="/">Home</a>
      </li>

      <li class="sidebar-nav-item{% if page.title == "Posts" %} active{% endif %}">
        <a href="/posts">Posts</a>
      </li>

      <li class="sidebar-nav-item{% if page.title == "About" %} active{% endif %}">
        <a href="/about">About</a>
      </li>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}


    </ul>


    <!-- <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p> -->
  </div>

  <div class="container sidebar-sticky">
    



    <div class="sidebar-about">
      <h2>{{ site.title }}</h2>
      <p class="lead">{{ site.description }}</p>
    </div>



    <!-- <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p> -->
  </div>
</div>
